.ul-nav {
    list-style-type: none;
    background-color: #1D2D50;
    height: 10vh;
}

.li-nav {
    color: white;
    background-color: aqua;
    height: 50% ;
    display: inline-flex;
}

.li-nav:hover {
    background-color: rgb(85, 255, 255);
}

